.wrapper {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--secondary-200);
  background: #FCFCFC;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  color: var(--secondary-800);
  font-size: 14px;
  font-weight: 400;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.infoRight {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nickname {
  color: var(--secondary-600);
  font-size: 12px;
  font-weight: 400;
}

.date {
  color: var(--secondary-400);
  font-size: 12px;
  font-weight: 400;
}