.wrapper {
  width: 100%;
}

.btns {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.cancelBtn {
  height: 48px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  background: #FFF;
  color: var(--secondary-500);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}