:root {
    /* color */
	--main_color: #3692FF;
    --main_color_ml: #E6F2FF;
    --main_color_mid: #1967D6;
    --main_color_dark: #1251AA;

    --text_title_color: #3A362E;
    --Secondary-100: #F3F4F6;
    --Secondary-200: #E5E7EB;
    --Secondary-400: #9CA3AF;
    --Secondary-700: #374151;
    --Secondary-800: #1F2937; 
    --Secondary-900: #111827; 

    --warning_light_color: #ffc7c7;
}


body > .wrap {
    overflow-y: auto;
}

body > .wrap * {
    font-family: 'Pretendard', sans-serif;
}

body > .wrap a{
    cursor: pointer;
}

.wrap .no_text{
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    color: transparent;

    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;                                                                                                                                                                                                                                                                                          
    margin: -1px;
    overflow: hidden;                                                                                                                                                                                                                                                                                    
    clip: rect(0, 0, 0, 0);                                                                                                                                                                                                                                                                            
    white-space: nowrap;
    border: 0;  
}

/* header */
#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 9999;
}

#header .inner_box{
    position: relative;
    margin: 0 auto;
    padding: 11px 200px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    border-bottom: 1px solid #DFDFDF;
}

#header .logo_title {
    display: flex;
    font-family: 'ROKAF Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: var(--main_color);
    padding-left: 8px;
}

#header .btn_basic {
    padding: 0.75rem;
    width: 128px;
    height: 100%;
    font-size: 16px;
    line-height: 26px;
    border-radius: 8px;
}
/* header end */



/* button common */
.btn_basic{
    display: block;
    padding: 1rem;
    text-align: center;
    background-color: var(--main_color);
    border-radius: 50px;
    font-weight: 600;
    color: #fff;
}

.wrap .btn_icon{
    position: relative;
    flex-shrink: 0;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.wrap .btn_icon.text{
    width: auto;
    padding-right: 25px;
    background-position: calc(100% - 5px);
    background-size: 16px;
    background-repeat: no-repeat;
}

.wrap .btn_icon.text.download{
    background-image: url('../img/common/icon_download.svg');
}

.wrap .btn_icon .no_text{
    display: block;
    width: 100%;
    height: 100%;
}

.wrap .btn_icon.text .text{
    font-size: 13px;
    font-weight: 600;
}
/* button common end */


/* input */
.form_wrap .input_wrap{
    border: 1px solid #ccc;
    padding: 4px 6px;
}

.form_wrap .input_wrap input{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    border: none;
}

.form_wrap .input_wrap.readonly{
    background-color: #f3f3f3;
}

.form_wrap .input_wrap.readonly input{
    cursor: default;
}

.form_wrap .input_wrap input::placeholder{
    color: #999;
}

.form_wrap .form_item label.input_title{
    display: block;
    padding-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    color: var(--Secondary-800);
}

.form_wrap .form_item .input_wrap{
    position: relative;
    padding: 16px 24px;
    width: 100%;
    background-color: var(--Secondary-100);
    border-radius: 12px;
    border: 1px solid var(--Secondary-100);
}

.form_wrap .form_item .input_wrap:focus-within{
    border-color: var(--main_color);
}

.form_wrap .form_item .input_wrap input{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.form_wrap .form_item .input_wrap input:-webkit-autofill,
.form_wrap .form_item .input_wrap input:-webkit-autofill:hover,
.form_wrap .form_item .input_wrap input:-webkit-autofill:focus,
.form_wrap .form_item .input_wrap input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--Secondary-100) inset !important;
}

.input_wrap.pw input{
    padding-right: 24px;
}

.input_wrap.pw .hs{
    position: absolute;
    display: block;
    right: 24px;
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    background: url('../images/icon_eye_hide.svg') no-repeat center;
}

.input_wrap.pw .hs.show_pw{
    background: url('../images/icon_eye_show.svg') no-repeat center;
}


/* input end */