
@font-face {
 font-family: ROKAF;
    font-weight: 400;
    font-style: normal;  
    src: url('/font/ROKAF/ROKAF-Sans-Medium.ttf') format('truetype');
}

@font-face {
 font-family: ROKAF;
    font-weight: 600;
    font-style: normal;  
    src: url('/font/ROKAF/ROKAF-Sans-Bold.ttf') format('truetype');
}

@font-face {
 font-family: Pretendard;
    font-weight: 400;
    font-style: normal;  
    src: url('/AppData/font/pretendard/Pretendard-Regular.ttf') format('truetype');
}

@font-face {
 font-family: Pretendard;
    font-weight: 500;
    font-style: normal;  
    src: url('/AppData/font/pretendard/Pretendard-Medium.ttf') format('truetype');
}

@font-face {
 font-family: Pretendard;
    font-weight: 700;
    font-style: normal;    
    src:  url('/AppData/font/pretendard/Pretendard-bold.ttf') format('truetype');
}