body { background-color: #FCFCFC; }
.inner { max-width: 1520px; width: calc(100% - 400px); margin: 0 auto; }

#header { position: fixed; top:0; left:0; width: 100%; height: 70px; padding: 9px 0; border-bottom: 1px solid #DFDFDF; background-color: #fff; } 
#header .inner { display: flex; justify-content: space-between; flex-direction: row; height: 54px; }
#header .logo { display: flex; align-items: end; padding: 5px 0; font-family: 'ROKAF Sans'; font-size: 25.633px; font-style: normal; font-weight: 700; line-height: 40px; color: #3692FF; }
#header .logo img { display: inline-block; height: 42px; margin: 9px 9px 0 0; }

.btn { display: block; width: 128px; height: fit-content; padding: 12px 0; border: none; background-color: #3692FF; font-size: 16px; font-weight: 600; line-height: 24px; color: #F3F4F6; text-align: center; cursor: pointer; border-radius: 8px; }
.btn.login { background-color: #3692FF; color: #F3F4F6; }

#main { width: 100%; height: fit-content; margin-top: 70px; }

#visual { width: 100%; height: 540px; background-color: #CFE5FF; }
#visual .inner { display: flex; justify-content: space-between; flex-direction: row; width: 1110px; height: 100%; padding-top: 200px; }
#visual .text_wrap { width: 357px; padding: 40px 0 100px; font-family: Pretendard; font-size: 40px; font-style: normal; font-weight: 700; line-height: 56px; color: #374151; }
#visual .img_wrap { width: 746px; }
#visual .img_wrap img { display: block; width: 100%; }
.btn.go_buy_page { width: 100%; margin-top: 32px; border-radius: 40px; }

#con { width: 100%; height: fit-content; background-color: #fff; padding-bottom: 138px; }
#con .inner { width: 988px; height: fit-content; }
#con .box { display: flex; gap: 64px; flex-direction: row; width: 988px; height: 444px; margin: 138px auto 276px; background-color: #FCFCFC; }
#con .box:last-of-type { margin-bottom: 0; }
#con .box .img_wrap { overflow: hidden; width: 588px; height: 100%; border-radius: 12px; }
#con .box .img_wrap img { display: block; width: 100%; }
#con .box .text_wrap { display: flex; 
display: flex; align-items: flex-start; justify-content: center; flex-direction: column; flex-direction: column; width: calc(100% - 588px - 64px); }
#con .box .text_wrap.left { display: flex; align-items: flex-end; flex-direction: column; text-align: right; }
#con .box .text_wrap .dec_title { font-family: Pretendard; font-size: 18px; font-style: normal; font-weight: 700; line-height: 26px; color: #3692FF; }
#con .box .text_wrap .box_title { margin: 12px 0 24px; font-family: Pretendard; font-size: 40px; font-style: normal; font-weight: 700; line-height: 56px; color: #374151; letter-spacing: 0.8px; }
#con .box .text_wrap .box_text { font-family: Pretendard; font-size: 24px; font-style: normal; font-weight: 500; line-height: 32px; color: #374151; }

#bottom_banner { width: 100%; height: 540px; margin-top: 138px; background-color: #CFE5FF; }
#bottom_banner .inner { display: flex; justify-content: space-between; flex-direction: row; width: 1110px; height: 100%; padding-top: 143px; }
#bottom_banner .text_wrap { display: inline-flex;
align-items: center; width: 357px; padding: 40px 0 100px; font-family: Pretendard; font-size: 40px; font-style: normal; font-weight: 700; line-height: 56px; color: #374151; }
#bottom_banner .img_wrap { overflow: hidden; width: 746px; }
#bottom_banner .img_wrap img { display: block; width: 100%; }

#footer { width: 100%; height: fit-content; padding: 32px 0; background-color: #111827; }
#footer .inner { display: flex; justify-content: space-between; flex-direction: row; height: 96px; color: #9CA3AF; }
#footer .copyright { font-family: Pretendard; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal; color: #9CA3AF; text-align: center; }

#footer_menu { display: flex; gap: 30px; justify-content: center; flex-direction: row; }
#footer_menu li { font-family: Pretendard; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal; color: #E5E7EB; text-align: center; }

.comm_wrap { display: flex; gap: 12px; justify-content: right; flex-direction: row; height: 20px; }
.comm_btn { display: flex; justify-content: center; flex-direction: column; width: 19px; height: 100%; cursor: pointer; }
.comm_btn img { display: block; width: 100%; }

/* sign */
.sign_container { width: 640px; height: fit-content; margin: 231px auto 284px; }
.sign_container.sign_up { margin: 60px auto 178px; }
#sign_header { margin-bottom: 40px; }
#sign_header .logo { display: flex; align-items: end; width: fit-content; color: #3692FF; font-family: "ROKAF Sans"; font-size: 66.344px; font-style: normal; font-weight: 700; line-height: normal; gap: 22px; margin: 0 auto; }
#sign_header .logo img { display: block; width: 104px; }

.sign_container .sign_inner { display: flex; flex-direction: column; gap: 24px; }
.input_wrap { display: flex; flex-direction: column; justify-content: start; gap: 16px; width: 100%; }
.input_wrap label { color: var(--Secondary-800, #1F2937); font-family: Pretendard; font-size: 18px; font-style: normal; font-weight: 700; line-height: 26px; /* 144.444% */ }
.input_wrap input { width: 100%; height: fit-content; padding: 16px 24px; font-family: Pretendard; font-size: 16px; font-style: normal; font-weight: 400; line-height: 26px; /* 162.5% */ border: none; border-radius: 12px; background-color: #F3F4F6; border: 1px solid transparent; color: #111827; }
.input_wrap input:focus { outline-color: #3692FF; }
.input_wrap input::placeholder { color: #9CA3AF; } 
.password_wrap { position: relative; width: 100%; height: fit-content; }
.password_wrap img { position: absolute; right: 24px; top: 18px; display: block; z-index: 10;}

.login_btn { display: block; width: 100%; height: fit-content; padding: 16px 24px; border-radius: 40px; background-color: #9CA3AF; text-align: center; color:  #F3F4F6; text-align: center;  font-family: Pretendard; font-size: 20px; font-style: normal; font-weight: 600; line-height: 32px; /* 160% */}

.social_login { display: flex; width: 100%; height: 74px; padding: 16px 23px; flex-direction: row; justify-content: space-between; border-radius: 8px; background: #E6F2FF; }
.social_login span { color: #1F2937; /* pretendard/lg-16px-medium */ font-family: Pretendard; font-size: 16px; font-style: normal; font-weight: 500; line-height: 42px; /* 162.5% */}

.social_btn_wrap { display: flex; flex-direction: row; justify-content: right; gap: 16px; }
.social_btn { display: block; width: 42px; height: 42px; overflow: hidden; cursor: pointer; }
.social_btn img { display: block; width: 100%; }
.sign_up_wrap { text-align: center; color: #1F2937; /* pretendard/md-14px-medium */ font-family: Pretendard; font-size: 14px; font-style: normal; font-weight: 500; line-height: 24px; /* 171.429% */}
.sign_up_wrap a { display: inline-block; color: var(--Primary-100, #3692FF); font-family: Pretendard; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-decoration-line: underline; text-decoration-style: solid; text-decoration-skip-ink: none; text-decoration-thickness: auto; text-underline-offset: auto; text-underline-position: from-font;}