:root {
    --brand-blue: #3692ff;
    --login-input-gray:#9ca3af;
    --real-white:#f3f8ff;
    --button-text:#f3f4f6;
    --sns-background:#E6F2FF;
    --all-backgraound:#fcfcfc;
    --black:#000000;
}       