*{
box-sizing: border-box;
}
.content-container{
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font.woff2/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'ROKAF Sans';
    src: url('./font.woff2/ROKAFSans-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font.woff2/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font.woff2/Pretendard-Regular.woff2') format('woff2');
    font-weight: 500;
}

.login_body{
display: flex;
max-width: 1920px;
width: 100%;
margin: 0 auto;
justify-content: center;
align-items: center;
flex-direction: column;
}

header{
    display: flex;
    width: 640px;
    height: 132px;
    font-family: 'ROKAF Sans';
    color: #3692FF;
    font-size: 66.344px;
    font-weight: 700;
    line-height: 1;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

#pandaface{
    width: 104px;
    height: 104px;
    border-radius: 28.932px;
    background-color: #3692FF;
}
main{
    display: flex;
    flex-direction: column;
    gap:24px;
}
.input_zone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.input_zone input:focus{
    border-color: #3692ff;
}

.input_zone input.is-invalid{
    border-color: #F74747 !important;
    outline: none;
}


label{
    color: #1F2937;
    font-family: 'Pretendard';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}
.password_wrapper {
    position: relative; /* 버튼의 기준점 */
    display: flex;
    align-items: center;
}
.input_zone input{
    display: flex;
    width: 640px;
    height: 56px;
    padding: 16px 24px;
    align-items: center;
    background-color: #F3F4F6;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 10px;
    border: 1px solid transparent; /* 기본 테두리를 투명하게 만들어 둠 */
    box-sizing: border-box;
}
.error-message{
    display: flex;
    color: red;
    font-family: 'Pretendard';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 16px;
}

#password{
    display: flex;
    width: 640px;
    height: 56px;
    padding: 16px 24px;
    align-items: center;
    background-color: #F3F4F6;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.eye_button{
    display: flex;
    align-items: center;
    position: absolute;
    right: 24px;
    top: 52%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#login-button{
    color: #F3F4F6;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    width: 640px;
    height: 56px;
    padding: 16px 124px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #9CA3AF;
    border: 0;
    margin-top: 24px;
}
.simple_login_tab{
    margin: 24px auto;
    background-color: #E6F2FF;
    border-radius: 8px;
    border: 0;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    width: 640px;
    height: 74px;
    padding: 16px 23px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login-link{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    line-height: 1;
}
#google-icon{
    background-color: #FFFFFF;
    width: 42px;
    height: 42px;
    border: 0;
    border-radius: 42px;
    padding: 10px 8px 8px 8px;
    
}
#kakao-icon{
    background-color: #F5E14B;
    border: 0;
    border-radius: 42px;
    padding: 10px;
    
}
.login_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    gap: 4px;
    padding-bottom: 50px;
}
.signup_body{
 display: flex;
max-width: 1920px;
width: 100%;
margin: 0 auto;
justify-content: center;
align-items: center;
flex-direction: column;
}
#nickname{
    display: flex;
    width: 640px;
    height: 56px;
    padding: 16px 24px;
    align-items: center;
    background-color: #F3F4F6;
    border-radius: 12px;
    margin-bottom: 24px;
    border: 0;
}
#password_check{
    display: flex;
    width: 640px;
    height: 56px;
    padding: 16px 24px;
    align-items: center;
    background-color: #F3F4F6;
    border-radius: 12px;
    margin-bottom: 24px;
    border: 0;
}
.signup_body .login_bottom{
    padding-bottom: 120px;
}