:root {
  --color-bg-main: #FCFCFC;
  --color-primary: #3692FF;
  --color-primary-light: #E6F2FF;
  --color-text-dark: #1F2937;
  --color-gray-light: #F3F4F6;
  --color-gray-muted: #9CA3AF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ROKAF Sans';
  src: url('./fonts/ROKAF Sans bold.otf')
  format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Regular.otf')
  format('opentype');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration-line: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg-main);
  margin: 0 auto;
}

.signup-box {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto 178px;
  gap: 24px;
}

.logo-box {
  width: 396px;
  height: 132px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 22px
}

.logo-text {
  color: var(--color-primary);
  font-family: 'ROKAF Sans', sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  font-family: 'Pretendard';
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.email-text {
  color: var(--color-text-dark);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.email-input {
  display: flex;
  width: 100%;
  min-width: 640px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--color-gray-light);
  padding: 16px 24px;
  border: none;
}

input:focus {
  outline-color: var(--color-primary);
}

input::placeholder {
  color: var(--color-gray-muted);
  font-family: 'Pretendard';
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.nickname-text {
  color: var(--color-text-dark);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.nickname-input {
  display: flex;
  width: 100%;
  min-width: 640px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--color-gray-light);
  padding: 16px 24px;
  border: none;
}

.password-text {
  color: var(--color-text-dark);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.password-input {
  display: flex;
  width: 100%;
  min-width: 640px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--color-gray-light);
  border: none;
  background-image: url(images/btn_visibility_off_24px.png);
  background-repeat: no-repeat;
  background-position: right 24px center;
}

.again-text {
  color: var(--color-text-dark);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.again-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.again-input {
  display: flex;
  width: 100%;
  min-width: 640px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--color-gray-light);
  border: none;
  background-image: url(images/btn_visibility_off_24px.png);
  background-repeat: no-repeat;
  background-position: right 24px center;
}

.signup-button {
  width: 100%;
  min-width: 640px;
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  background-color: var(--color-gray-muted);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
}

.signup-text {
  color: var(--color-gray-light);
  text-align: center;
  font-family: 'Pretendard';
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.easy-box {
  width: 100%;
  min-width: 640px;
  height: 74px;
  padding: 16px 23px;
  border-radius: 8px;
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
}

.easy-content {
  width: 594px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.easy-text {
  color: var(--color-text-dark);
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.easy-link {
  display: flex;
  gap: 10px;
}

.google {
  background-image: url('images/icon/google-bg.svg');
  background-size: cover;
  background-position: center;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-logo {
  width: 22px;
  height: 22px;
  display: block;
}

.kakao {
  background-image: url('images/icon/kakao-bg.svg');
  background-size: cover;
  background-position: center;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kakao-logo {
  width: 22px;
  height: 22px;
  display: block;
}

.already-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.already-text {
  color: var(--color-text-dark);
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.already-link {
color: var(--color-primary);
font-family: 'Pretendard';
font-size: 14px;
font-weight: 500;
text-decoration-line: underline;
text-decoration-style: solid;
}