:root {
  --color-bg-main: #FCFCFC;
  --color-primary: #3692FF;
  --color-primary-light: #E6F2FF;
  --color-text-dark: #1F2937;
  --color-gray-light: #F3F4F6;
  --color-gray-muted: #9CA3AF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ROKAF Sans';
  src: url('./fonts/ROKAF Sans bold.otf')
  format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Regular.otf')
  format('opentype');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration-line: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg-main);
  margin: 0 auto;
}

.signup-box {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.75rem auto 11.25rem;
  gap: 1.5rem;
}

.logo-box {
  width: 24.75rem;
  height: 8.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 1.375rem;
}

.logo-text {
  color: var(--color-primary);
  font-family: 'ROKAF Sans', sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  font-family: 'Pretendard';
}

.email-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.email-text {
  color: var(--color-text-dark);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.email-input {
  display: flex;
  width: 100%;
  min-width: 40rem;
  height: 3.5rem;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: .625rem;
  border-radius: .75rem;
  background: var(--color-gray-light);
  padding: 1rem 1.5rem;
  border: none;
}

input:focus {
  outline-color: var(--color-primary);
}

input::placeholder {
  color: var(--color-gray-muted);
  font-family: 'Pretendard';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.nickname-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nickname-text {
  color: var(--color-text-dark);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.nickname-input {
  display: flex;
  width: 100%;
  min-width: 40rem;
  height: 3.5rem;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: .625rem;
  border-radius: .75rem;
  background: var(--color-gray-light);
  padding: 1rem 1.5rem;
  border: none;
}

.password-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.password-text {
  color: var(--color-text-dark);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.password-input {
  display: flex;
  width: 100%;
  min-width: 40rem;
  height: 3.5rem;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: .625rem;
  border-radius: .75rem;
  background: var(--color-gray-light);
  border: none;
  background-image: url(images/btn_visibility_off_24px.png);
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
}

.again-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.again-text {
  color: var(--color-text-dark);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.again-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.again-input {
  display: flex;
  width: 100%;
  min-width: 40rem;
  height: 3.5rem;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.75rem;
  background: var(--color-gray-light);
  border: none;
  background-image: url(images/btn_visibility_off_24px.png);
  background-repeat: no-repeat;
  background-position: right 24px center;
}

.signup-button {
  width: 100%;
  min-width: 40rem;
  height: 3.5rem;
  padding: 1rem 7.75rem;
  border-radius: 2.5rem;
  background-color: var(--color-gray-muted);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  border: none;
  cursor: pointer;
}

.signup-text {
  color: var(--color-gray-light);
  text-align: center;
  font-family: 'Pretendard';
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
}

.easy-box {
  width: 100%;
  min-width: 40rem;
  height: 4.625rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
}

.easy-content {
  width: 37.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.easy-text {
  color: var(--color-text-dark);
  font-family: 'Pretendard';
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
}

.easy-link {
  display: flex;
  gap: 0.625rem;
}

.google {
  background-image: url('images/icon/google-bg.svg');
  background-size: cover;
  background-position: center;
  width: 2.625rem;
  height: 2.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-logo {
  width: 1.375rem;
  height: 1.375rem;
  display: block;
}

.kakao {
  background-image: url('images/icon/kakao-bg.svg');
  background-size: cover;
  background-position: center;
  width: 2.625rem;
  height: 2.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kakao-logo {
  width: 1.375rem;
  height: 1.375rem;
  display: block;
}

.already-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.already-text {
  color: var(--color-text-dark);
  font-family: 'Pretendard';
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.already-link {
color: var(--color-primary);
font-family: 'Pretendard';
font-size: .875rem;
font-weight: 500;
text-decoration-line: underline;
text-decoration-style: solid;
}