.sale-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  list-style: none;
  padding: 0;
}
.sale-list img {
  width: 100%;
}

.sale-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}
.sale-list li {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;
}