.wrapper {
  position: relative;
}

.seachIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
}

.searchBtn {
  border: none;
  cursor: pointer;
}

.searchInput {
  width: 325px;
  height: 42px;
  padding: 9px 20px 9px 40px;
  border: none;
  border-radius: 12px;
  background-color: var(--secondary-100);
}

.searchInput::placeholder {
  color: var(--secondary-400);
}

.searchInput:focus {
  outline: none;
  border: 1px solid var(--primary-100)
}

@media (max-width: 744px) {
  .searchInput {
    width: 242px;
  }
 
}

@media (max-width: 375px) {
  .searchInput {
    width: 288px;
  }
}