.header {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  box-sizing: border-box;
  padding: 9px 0;
  width: 100%;
  height: 70px;
  background: #fff;
}

.logo_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  /* padding: media로 나눠야함 */
}

.logo_link {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo_link a {
  text-decoration: none;
}

.link {
  display: flex;
  align-items: center;
}

.link_text {
  display: flex;
  padding: 21px 15px;
  justify-content: center;
  align-items: center;
}

.link_text a{
  color: var(--Secondary-600, #4B5563);
  text-align: center;
  /* pretendard/2lg-18px-bold */
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.logo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 0;
  height: 50px;
  gap: 9px;
}

.logo .text {
  /* 글자 */
  color: #3692FF;
  font-family: 'BarunAirForce_Bold';
  font-size: 1.6021rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 42px;
  padding: 12px 23px;
  border-radius: 8px;
  border-width: 0;
  background: var(--Primary-100);
  cursor: pointer;
}

.loginButton span {
  color: var(--Cool-Gray-100);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
}

/* PC: 1200px 이상 */
@media screen and (min-width: 1200px)  {
  .logo_button {
    padding: 0 200px;
  }

  .link_text {
    padding: 21px 15px;
    font-size: 18px;
  }
}

/* Tablet: 744px ~ 1199px */
@media screen and (min-width: 744px) and (max-width: 1199px){
  .logo_button {
    padding: 0 24px;
  }
  .link_text {
    padding: 21px 15px;
    font-size: 18px;
  }  
}

/* Mobile: 375px ~ 743px */
@media screen and (min-width: 0px) and (max-width: 743px){
  .logo_button {
    padding: 0 16px;
  }
  .link_text {
    padding: 25px 0;
  }
  .link_text a {
    font-size: 16px;    
  }
  .link {
    gap: 8px;
  }
  .logo_link{
    gap: 8px;
  }
  .logo {
    gap: 0px;
  }
  .logo img{
    display: none;
  }

}