.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-800)
}

.input {
  height: 56px;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background-color: var(--secondary-100);
}

.input::placeholder {
  color: var(--secondary-400)
}

.input:focus {
  outline: none;
  border: 1px solid var(--primary-100);
}