.tagChip {
  padding: 6px 16px;
  margin-right: 12px;
  border-radius: 26px;
  background-color: var(--secondary-100);
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.xBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.xIcon {
  width: 20px;
  height: 20px;
}