.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-800)
}

.textarea {
  height: 282px;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background-color: var(--secondary-100);
}

.textarea::placeholder {
  color: var(--secondary-400)
}

.textarea:focus {
  outline: none;
  border: 1px solid var(--primary-100);
}

.errorTextarea {
 border: 1px solid var(--error)
}

.errorTextarea:focus {
 border: 1px solid var(--error)
}

.errorMsg {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 600;
  color: var(--error);
}