

/* 상품 페이지 */
.item-page {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-top: 26px;
}

/* Tablet: 744px 이상 ~ 1199px 이하 */
@media (max-width: 1199px) {
  .item-page {
    padding: 0 2.4rem;
  }
}

/* Mobile: 375px 이상 ~ 743px 이하 */
@media (max-width: 743px) {
  .item-page {
    padding: 0 1.6rem;
  }

  .logo-img {
    display: none;
  }

  .logo-text {
    display: inline;
    font-size: 1.6rem;
    font-weight: 700;
    color: #3692ff;
  }
}
