.footer {
  width: 100%;
  min-height: 160px;
  background-color: var(--gray-900, #1f2937);
  color: var(--Secondary-400, #9ca3af);
  font-size: 16px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-wrap: wrap;
  gap: 16px;
}

.copyright {
  color: var(--Secondary-400, #9ca3af);
  white-space: nowrap;
}

.footerMenu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footerMenu a {
  color: var(--Secondary-200, #e5e7eb);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}

.footerMenu a:hover {
  text-decoration: underline;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 743px) {


  .footerMenu {
    order: 1;
    gap: 20px;
  }

  .footerMenu a {
    font-size: 14px;
  }

  .socialMedia {
    order: 2;
  }

  .copyright {
    order: 3;
    width: 100%;
    font-size: 14px;
  }
}
