.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav {
  display: flex;
  gap: 16px;
}

.nav a {
  font-weight: 600;
  font-size: 18px;
  color: var(--gray-800);
}

.nav a:hover {
  color: var(--blue);
}

.nav a.active {
  color: var(--blue);
  font-weight: 700;
}

.logo {
  display: flex;
  width: 153px;
  height: 51px;
  padding: 5.017px 0 5.848px 0;
  justify-content: center;
  align-items: flex-end;
  gap: 8.592px;
}

.logoText {
  color: var(--blue, #3692ff);
  font-family: "ROKAF Sans";
  font-size: 25.633px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.loginButton {
  display: inline-flex;
  height: 42px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: var(--blue, #3692ff);

  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  outline: none;
}

.loginButton:hover {
  background: #1967d6;
}

.userArea {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileImage {
  width: 40px;
  height: 40px;
}

.nickname {
  color: var(--Cool-Gray-600, #4b5563);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 743px) {
  .left {
    gap: 16px;
  }

  .logo {
    width: auto;
    height: auto;
    padding: 0;
    gap: 4px;
  }

  .logoText {
    font-size: 18px;
  }

  .nav {
    gap: 12px;
  }

  .nav a {
    font-size: 14px;
  }

  .loginButton {
    height: 36px;
    padding: 0 14px;
    font-size: 14px;
  }

  .userArea {
    gap: 6px;
  }

  .profileImage {
    width: 32px;
    height: 32px;
  }

  .nickname {
    display: none;
  }
}
