.productCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productImage {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-color: lightgray;
  border-radius: 16px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.productInfo p {
  margin: 0;
}

.productName {
  color: var(--Secondary-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.productPrice {
  color: var(--Secondary-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.productFavorite {
  color: var(--Secondary-600);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.favoriteIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
