.header {
  width: 100%;
  height: 68px;
  padding: 0 max(24px, calc((100% - 1520px) / 2));
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DFDFDF;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 1;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 40px;
}

.title {
  color: var(--primary-100);
  font-family: 'ROKAF Sans';
  font-size: 25px;
}

.links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-600);
}

.loginBtn {
  height: 42px;
  padding: 12px 23px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-100);
  border-radius: 8px;
  background-color: var(--primary-100);
}

@media (max-width: 768px) {
  .headerLeft {
    gap: 35px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 16px;
  }

  .headerLeft {
    gap: 8px;
  }
  
  .title {
    font-size: 20px;
  }

  .links {
    gap: 8px;
  }

  .link {
    font-size: 16px;
  }

  .icon {
    display: none;
  }
}