@font-face {
  font-family: "ROKAF Sans";
  src: url('../assets/fonts/ROKAF\ Sans\ Bold.ttf');
}

.header {
  background-color: var(--pure-white);
  width: 100%;
  display: flex;
  padding: 0 200px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--line-gray);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-logo {
  width: 153px;
  height: 51px;
  display: flex;
  padding: 5.017px 0 5.848px 0;
  justify-content: center;
  align-items: flex-end;
  gap: 8.592px;
  flex-shrink: 0;
  text-decoration: none;
}

.panda-face {
  width: 40px;
  height: 40.135px;
}

.brand-logo {
  color: var(--brand-blue);
  font-family: "ROKAF Sans";
  font-size: 25.633px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-menu a {
  color: var(--Secondary-600);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding: 21px 15px;
  text-decoration: none;
}

.login-button {
  background: var(--brand-blue);
  color: var(--Cool-Gray-100);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  height: 42px;
  display: flex;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .header {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 16px;
  }

  .header-left {
    gap: 16px;
  }

  .header-logo {
    width: auto;
  }

  .brand-logo {
    font-size: 22px;
  }

  .header-menu {
    gap: 0;
  }

  .header-menu a {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 8px 12px 8px;  /* 링크 크기 = 텍스트 + padding 이기 때문에 */
  }

  .login-button {
    height: 38px;
    padding: 8px 16px;
    white-space: nowrap; /* 줄바꿈 방지*/
  }
}