.pagination_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 24px 0;
}

.pagination_wrap * {
  display: flex;
}

.btn_left,
.btn_right {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--Cool-Gray-200);
  background-color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn_left img,
.btn_right img {
  width: 16px;
  height: 16px;
}

.btn_right img {
  transform: scaleX(-1);
}

.btn_left:disabled,
.btn_right:disabled {
  cursor: not-allowed;
}

.page {
  align-items: center;
  gap: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page_number {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12.5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12.5px;
  border-radius: 40px;
  border: 1px solid var(--Cool-Gray-200);
  background: #FFF;
  color: var(--Cool-Gray-500);
  cursor: pointer;

  /* pretendard/lg-16px-semibold */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 162.5% */
}

.page_number_active {
  background-color: var(--brand-blue);
  color: var(--Secondary-100);
}

/* PC: 1200px 이상 */
@media screen and (min-width: 1200px) {}

/* Tablet & Mobile: 375px ~ 1199px */
@media screen and (min-width: 375px) and (max-width: 1199px) {}