.button {
  outline: none;
  border: none;
  height: 42px;
  line-height: 42px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  padding: 0 23px;
  background: #3692ff;
  color: white;
}
