.subPage {
  padding: 68px 0 140px;
  box-sizing: border-box
}

.subPage .inner {
  padding: 0 24px;
  box-sizing: border-box;
}

.subPage .titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.subPage .titleWrap .title {
  font-size: 24px;
  font-weight: 700
}