body {
  font-family: 'ROKAF Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--Secondary-900, #111827);
  height: 160px;
  padding: 32px 200px;
}

main {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration-line: none;
  text-decoration-color: none;
}

header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  width: 100%;
  height: 70px;
  padding: 9px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #DFDFDF;
  background: #FFF;
}

.logo_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;    /* 좌우 마진 자동 계산 (가운데 정렬) */
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px 0 5px;
  gap: 9px;
  margin-left: 200px;
}

#Web_title {
  color: #3692FF;
  font-family: 'ROKAF Sans';
  font-size: 1.6021rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}


#Web_Login {
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Primary-100, #3692FF);
  cursor: pointer;
  margin-right: 200px;
}

#Login {
  color: var(--Cool-Gray-100, #F3F4F6);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
  white-space: nowrap;
}

.container_1 {
  display: flex;
  width: 100vw;
  background: #CFE5FF;
  justify-content: center;
}



.main_section {
  margin: 200px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.discription_section {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;

}

.discription {
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 3.5rem */
  white-space: nowrap;
}

#Watch {
  display: flex;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  background: var(--Primary-100, #3692FF);
  border-radius: 40px;
  cursor: pointer;
}

#Watch_items {
  color: var(--Secondary-50, #F9FAFB);
  text-align: center;
  /* pretendard/xl-1.25rem-semibold */
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  white-space: nowrap;
}

#Main_section_Logo {
  display: flex;
  width: 746px;
  height: 340px;
  padding-right: 0;
  justify-content: center;
  align-items: center;
}

.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.container_2 {
  background: #FFF;
  display: flex;
  width: 100vw;
  max-width: 1290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_content {
  padding: 138px 344px;
  display: flex;
  width: 988px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background: #FCFCFC;
  background-clip: content-box;
}

.Img_content {
  display: flex;
  width: 588px;
  height: 444px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.content_discription {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;

}

.Emphsize {
  color: var(--Primary-100, #3692FF);
  /* pretendard/2lg-1.125rem-bold */
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

.discription_section_small {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.discription_small {
  color: var(--Secondary-700, #374151);
  /* pretendard/2xl-1.5rem-medium */
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

.right {
  text-align: right;
}

.under_content {
  margin-top: 138px;
  width: 100vw;
  background: #CFE5FF;
  display: flex;
  align-content: center;
  justify-content: center;
}

.under_content_1 {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 143px;
  gap: 69px;
}

.under_image {
  width: 746px;
  height: 397px;
}

.footer_info {
  margin: 0 auto;    /* 좌우 마진 자동 계산 (가운데 정렬) */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
}

.credit {
  color: var(--Secondary-400, #9CA3AF);
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 200px;
  white-space: nowrap;
}

.policyFAQ{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  white-space: nowrap;
}

.policyFAQ_link {
  color: var(--Secondary-200, #E5E7EB);
  white-space: nowrap;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  margin-right: 200px;
}

.footer_icon {
  display: flex;
  width: 20px;
  align-items: flex-start;
}
